*{
    margin: 0;
    padding: 0;
    font-family: Agency FB;
}
.content1{
    width: 100%;
    padding: 80 10px;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    text-align: center;
    font-style: italic;
    color:#050505;
    font-size: large;
}
textarea{
    resize: none;
}
.contact-form{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-style: italic;
    color:#060505;
    font-size: xx-large;
}
.contact-info{
    width: 100%;
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    text-align: center;
    font-style: italic;
    color:#000000;
    font-size: larger;
}
.contact-info{
    width: 100%;
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    text-align: center;
    font-style: italic;
    color:#000000;
    font-size: larger;
}
button{
    width: 100px;
    padding: 8px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #0497ec;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: medium;
}
.contact-form button:hover{
    color:#0497ec;
}
.contact-form button{   
   text-decoration: none;
   text-transform: capitalize;
   transition: all .50s ease;
}
